body {
    text-align: center;
    background-color: #404040;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0
}



.navbar {
    background-color: #373dad;
    overflow: hidden;
    padding: 0;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    float: left;
    color: white;
    font-size: 20px;
    overflow: hidden;
    padding: 18px 20px;
}

.navbar a:hover {
    background-color: #242875;
}

.navbar a#icon {
    padding: 0;
}

.navbar a#icon img {
    vertical-align: middle;
    height: 60px;
}



#instructions {
    text-align: left;
    position: relative;
    left: 1em;
}

#instructions-container {
    border-right: solid;
}

.instructions-image {
    width: 10%;
    height: 10%;
}

.instructions-tiles {
    display: flex;
    align-items: center;
    gap: 1em;
}


#a {
    width: 20%;
}

#wordle-grid {
    text-align: center;

    display: table;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    border-spacing: 0.5em 0.5em;

}


#wordle-container {}






.wordle-cell {
    width: 4em;
    height: 4em;
}

.wordle-row {
    display: table-row;

}

.tail-cell {
    width: 1em;
}

.tail-indicator {
    max-width: 100%;
    height: auto;
    visibility: hidden;
}

.tile {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.tile-image {
    position: relative;
    height: 1%;
}

.tile-text {
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;

    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}