body {
    text-align: center;
    background-color: #404040;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0
}


#screen {

    text-align: center;

    border-style: none;

    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid;
}

#restart {
    margin: 100px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: red;
    visibility: hidden;
    
}

#restart:hover {
    background-color: brown;
}

#keybinds{
    line-height: 500px;
}
.grid-container {
    /* LOL THAT WORKED???? */
    display: grid;
    grid-template-columns: auto auto auto;

    column-gap: 50px;
}

.navbar {
    background-color: #373dad;
    overflow: hidden;
    padding: 0;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    float: left;
    color: white;
    font-size: 20px;
    overflow: hidden;
    padding: 18px 20px;
}

.navbar a:hover{
    background-color:#242875;
}

.navbar a#icon {
    padding: 0;
}

.navbar a#icon img {
    vertical-align: middle;
    height: 60px;
}